/* Main Navbar */
.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 15px 30px;
    background-color: #111827;
    color: white;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    white-space: nowrap;
}

/* Search Bar */
.search-box {
    display: flex;
    flex: 1;
    max-width: 400px;
}

.search-box input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
   
}

.search-box button {
    padding: 10px 5px;
    border: none;
    background-color: hwb(43 96% 2%);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-box button:hover {
    background-color: #d97706;
}

/* Main Navigation Links */
.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links a:hover {
    color: #38bdf8;
}

.cart {
    font-size: 15px;
    white-space: nowrap;
}